// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

// base color
$color-white: white;
$color-black: #c9af98;

// main colors
$color-primary: #342211;
$color-primary-light: #fbdcc4;
$color-primary-lighter: #3a4660;
$color-hover-title: rgb(110, 105, 105);

// font colors
$color-font: #dedede;
