*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @include respond(tab-land) {
    font-size: 55%;
  }
  @include respond(phone) {
    font-size: 48%;
  }
  @include respond(medium-phone) {
    font-size: 42%;
  }
  @include respond(medium-phone) {
    font-size: 38%;
  }

  height: 100%;
  font-family: "Raleway", sans-serif;
  background-color: black;
}

body {
  color: $color-font;
}

a {
  text-decoration: none !important;
}

ul,
li {
  list-style: none;
}
