<div class="container margin-center landing__container h-centered v-centered">
    <div class="container u-center-text">
        <p>
            <span id="banner-typed-text" class="heading"></span>
        </p>
    </div>
</div>
<div>
    <div class="container mt-5">
        <p>
            <span class="text-align-center" id="banner-typed-text"></span>
        </p>
    </div>
</div>
<%# Presentation section %>
<div class="presentaion-pure pb-6">
    <div class="container margin-center presentation__container h-centered v-centered mg-btm-hg" id="presentation">
        <div class="presentation__grid">
            <div class="presentation__grid--left" data-aos="fade-right">
                <%= image_tag "masoud.jpg", class:"profile-picture"%>
            </div>
            <div class="presentation__grid--right" data-aos="fade-left">
                <div class="presentation__text">
                    <p class="presentation__text--paragraph">
                        I am a driven, open-minded and flexible person in Montreal.
                        Passionate about web development, eager to learn new skills, I completed <span>Le Wagon</span> Montreal, where I learned all the tools to be a <span>Fullstack Web Developper</span>.
                        <br><br>
                        As half the bootcamp was on remote, I learned to work and successfully build projects with a team physically and <span>remotely</span> as well.
                        <br><br>
                        Feel free to check my portfolio or contact me for job inquiries.
                        <br><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container technology" id="technologies">

        <h2>Technologies</h2>
        <br>
        <div class="tech-border ">
            <span>Back-end</span>
            <br><br>
            <div class="technology-backend  mb-5">

                <a class="icon" href="https://www.ruby-lang.org/en/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/ruby/ruby-plain-wordmark.svg" alt="ruby" width="40" height="40" /> </a>
                <a class="icon" href="https://rubyonrails.org" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/rails/rails-original-wordmark.svg" alt="rails" width="40" height="40" /> </a>
                <a class="icon" href="https://rubyonrails.org" target="_blank"> <img src="https://i0.wp.com/blog.magmalabs.io/wp-content/uploads/2012/05/ACTIVE-RECORDS-STEROIDS-e1539710928384.jpg?fit=1136%2C713" alt="rails" width="40" height="40" /> </a>
                <a class="icon" href="https://www.postgresql.org" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg" alt="postgresql" width="40" height="40" /> </a>
                <a class="icon" href="https://www.postgresql.org" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" alt="postgresql" width="40" height="40" /> </a>
                <a class="icon" href="https://www.postgresql.org" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original-wordmark.svg" alt="postgresql" width="40" height="40" /> </a>
            </div>
        </div>
        <div class="tech-border">
            <span>Front-end</span>
            <br><br>
            <div class="technology-frontend ">
                <a class="icon" href="https://getbootstrap.com" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain.svg" alt="bootstrap" width="40" height="40" /> </a>
                <a class="icon" href="https://www.w3schools.com/css/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg" alt="css3" width="40" height="40" /> </a>
                <a class="icon" href="https://www.figma.com/" target="_blank"> <img src="https://www.vectorlogo.zone/logos/figma/figma-icon.svg" alt="figma" width="40" height="40" /> </a>
                <a class="icon" href="https://www.w3.org/html/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg" alt="html5" width="40" height="40" /> </a>
                <a class="icon" href="https://babeljs.io/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/babel/babel-original.svg" alt="babel" width="40" height="40" /> </a>
                <a class="icon" href="https://sass-lang.com" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg" alt="sass" width="40" height="40" /> </a>
                <a class="icon" href="https://reactjs.org/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="react" width="40" height="40" /> </a>
                <a class="icon" href="https://redux.js.org" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/redux/redux-original.svg" alt="redux" width="40" height="40" /> </a>
                <a class="icon" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="40" height="40" /> </a>


            </div>
        </div>
        <div class=" tech-border">

            <span>Tools</span>
            <br><br>
            <div class="technology-tools  ">
                <a class="icon" href="https://postman.com" target="_blank"> <img src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg" alt="postman" width="40" height="40" /></a>
                <a class="icon" href="https://git-scm.com/" target="_blank"> <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" width="40" height="40" /></a>
                <a class="icon" href="https://www.sqlite.org/" target="_blank"> <img src="https://www.vectorlogo.zone/logos/sqlite/sqlite-icon.svg" alt="sqlite" width="40" height="40" /></a>
                <a class="icon" href="https://www.heroku.com/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/heroku/heroku-plain-wordmark.svg" alt="heroku" width="40" height="40" /></a>
            </div>
        </div>
    </div>
</div>



<%# Portfolio section %>
<div class="container mg-top-hg" id="projects">
    <h2 class="u-center-text  heading_portfolio mg-btm-sm">Projects</h2>

    <div class="container margin-center portfolio__container h-centered v-centered">
        <div class="container">

            <div class="card-product">
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                <div class="card-product-infos">
                    <h2>buddy</h2>
                    <p>Product description with <strong>relevant info</strong> only.</p>
                </div>
            </div>

            <div class="card-product card-product_left">
                <div class="card-product-infos">
                    <h2>Rent a van</h2>
                    <p>Product description with <strong>relevant info</strong> only.</p>
                </div>
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            </div>

            <div class="card-product">
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                <div class="card-product-infos">
                    <h2>cocktail</h2>
                    <p>Product description with <strong>relevant info</strong> only.</p>
                </div>
            </div>
            <div class="card-product card-product_left">
                <div class="card-product-infos">
                    <h2>cocktail</h2>
                    <p>Product description with <strong>relevant info</strong> only.</p>
                </div>
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            </div>






        </div>
    </div>
</div>

<%# Contact section %>
<div class="container margin-center contact__container h-centered v-centered mg-top-sm mg-btm-sm" id="contact">
    <div class="container u-center-text">
        <h2 class="heading_contact">Get in touch</h2>
        <div class="details">
            <ul>
                <li><i class="fas fa-map-pin icon"></i>Montreal, Canada</li>
                <li><i class="far fa-envelope icon"></i> <a href="mailto: masoud.arabi2030@gmail.com" class="email">masoud.arabi2030@gmail.com</a></li>
                <li><i class="fab fa-whatsapp icon"></i>+1 438 938 47 38</li>
            </ul>
        </div>

        <div class="social">
            <h3 class="mg-top-md">Find me on</h3>
            <ul>
                <li class="social__icon"><a href="https://www.facebook.com/masoud.arb" target="_blank" class="social__link"><i class="fab fa-facebook"></i></a></li>
                <li class="social__icon"><a href="https://www.linkedin.com/in/masoud-arabi/" target="_blank" class="social__link"><i class="fab fa-linkedin"></i></a></li>
                <li class="social__icon"><a href="https://github.com/Simon-Busch" target="_blank" class="social__link"><i class="fab fa-github"></i></a></li>
            </ul>
        </div>
    </div>
</div>